body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border-radius: 6px;
	border: 2px solid #ff7518;
	color: #ff7518;
	background: 0 0;
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
		rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
	font-weight: 800;
	font-size: 16px;
	height: 42px;
}

button:hover {
	background-color: #ff7518;
	color: #fff;
}

input {
	padding: 0.8em 0.4em;
	border: 1px solid black;
}
